body {
    background: darkgrey;
    text-align: center;
}

#df {
    display: inline-block;
    width: 800px;
    height: 600px;
    border: 10px solid lightgrey;
}

#all {
    transform: translate(400px, 300px);
}

h1 {
    text-align: center;
}

.tri {
    stroke-width: 5;
    stroke-linejoin: round;
    stroke: #000;
}

.a {
    fill: #500;
}
.a.on {
    fill: #c00;
}

.b {
    fill: #550;
}
.b.on {
    fill: #cc0;
}

.c {
    fill: #050;
}
.c.on {
    fill: #0c0;
}

.d {
    fill: #055;
}
.d.on {
    fill: #0cc;
}

.e {
    fill: #005;
}
.e.on {
    fill: #00c;
}

.f {
    fill: #505;
}
.f.on {
    fill: #c0c;
}

.hex-a {
    transform: translate(0px, -86.6025403784px);
    stroke: #600;
}

.hex-b {
    transform: translate(75px, -43.3012701892px);
    stroke: #660;
}

.hex-c {
    transform: translate(75px, 43.3012701892px);
    stroke: #060;
}

.hex-d {
    transform: translate(0px, 86.6025403784px);
    stroke: #066;
}

.hex-e {
    transform: translate(-75px, 43.3012701892px);
    stroke: #006;
}

.hex-f {
    transform: translate(-75px, -43.3012701892px);
    stroke: #606;
}